@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 15%;
  background-color: #16915a;
  color: white;
  display: flex;
  flex-direction: column;
}

.logo img {
  width: 100px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
  font-size: 18px;
  cursor: pointer;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  background-color: #16915a;
  padding: 10px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
}

.progress {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.custom-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 10px 20px rgba(0, 0, 0, 0.2);
}


.quote {
  margin-top: 50px;
  font-size: 24px;
  font-style: italic;
  color: #34495e;
}


