@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 15%;
  background-color: #16915a;
  color: white;
  display: flex;
  flex-direction: column;
}

.logo img {
  width: 100px;
  margin-bottom: 20px;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .user-info {
  background-color: #16915a;
  padding: 10px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
} */

.progress {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.custom-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 10px 20px rgba(0, 0, 0, 0.2);
}


.quote {
  margin-top: 50px;
  font-size: 24px;
  font-style: italic;
  color: #34495e;
}


@keyframes blink {
  0%, 90%, 100% {
    transform: scaleY(1); /* Ojos abiertos */
  }
  92% {
    transform: scaleY(0.1); /* Ojos cerrados (parpadeo) */
  }
}

/* Animación de salto natural */
@keyframes bounceNatural {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translateY(-40px); /* Salta hacia arriba */
    animation-timing-function: ease-out;
  }
}

/* Ojos animados con parpadeo */
.eye-container {
  animation: blink 4s infinite; /* Parpadeo cada 4 segundos */
  transform-origin: center;
}

/* Pupilas más grandes */
.eye-pupil {
  animation: blink 4s infinite;
}

/* Clase para el cerdito con rebote más natural */
.animate-bounceNatural {
  animation: bounceNatural 2s infinite;
}
